/* Inserta tu codigo aqui */

/* Responsive */
li{
	list-style: none;
	float: left;
	text-align: center;
	padding: 10px;
	padding-top: 25px;

}

a{
	text-decoration: none;
	color:white;
}

.flor{
	background-image: url("../image/header-image.jpg");
	padding-top: 40%;
}

.fondo{
	background-color: #0C011E;
}

.fondo2{
	background-color: #2E1E3B;
}
 
 .logo{
	width:250px;
 }

.caja{
	background-color: black;
	height:300px ;
	width: 200px;
}

h1,h2{
	color:#FAC75D;
	text-align: center;
	padding-top: 10px;
}

h3{
	color:white;
	text-align: center;
	margin-top: 10px;
}
.foto2{
	height:300px;
	width:353px;
}

.negro2{
	background-color: black;
	margin-top: 10px;

}

.foto3{
	height: 400px;
    width: 700px;
    padding-top: 30px;
}

.negro3{
	background-color: black;
	padding-top: 15px;
    width: 702px;
    height: 170px;

}

p{
	color:white;
	margin: 10px;
}

.imp1{
    height: 35px;
    width: 298px;
    display: block;
    margin-bottom: 10px;
    margin-left: 80px;
    margin-top: 30px;
    opacity: 0.5;
    border-radius: 5px;
}

.negro4{
	background-color: black;
}


.foto4{
	height: 300px;
	width:300px;
	margin-left: 80px;
}

@media screen and (max-width : 920px) {

}

@media screen and (max-width: 600px) {

}
